














.header__inner {
  display: flex;
  flex-wrap: nowrap;
}

.header__side {
  width: 10%;
  padding: .5em;
}
.header__center {
  width: 80%;
  padding: .5em;
  text-align: center;

  font-size: 4em;
  font-weight: 400;
}
