body {
  font-size: 16px;
  line-height: 1.2;

  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

.content {
  width: 100%;
}

.response-img {
  max-width: 100%;
  vertical-align: middle;
}
.full-width-img {
  width: 100%;
  max-width: 3em;
}

.full-screen-img {
  width: 100vw;
  height: 100vh;
  z-index: -100;
  position: fixed;
  top: 0;
}

.floatL {
  float: left;
}

.floatR {
  float: right;
}

/*layout module*/
.l-grid {
  display: flex;
  flex-wrap: nowrap;
}
.l-grid__item {
  flex-grow: 1;
  flex-shrink: 1;
}
.l-grid__item--1 {
  width: 10%;
}
.l-grid__item--8 {
  width: 80%;
}
.l-grid__item--9 {
  width: 90%;
}

/*icon*/
.icon {
  margin-top: .5em;
  padding-left: 2em;
  font-size: .875em;
  color: #ffffff;
}

.icon--large {
  font-size: 1.25em;
}

.icon--info {
  background-image: url(/images/svg/info.svg);
  background-position: .5em;
  background-repeat: no-repeat;
  background-size: 1em;
}

.icon--menu {
  background-image: url(/images/svg/menu.svg);
  background-position: .5em;
  background-repeat: no-repeat;
  background-size: 1em;
}

input:focus, textarea:focus {
  outline: none;
}

.button {
  background: rgba(97, 226, 226, 0.4);
  border: none;
  padding: .5em;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
}

.button--full {
  display: inline-block;
  width: 100%;
  background: #61E2E2;
}

.button--warn {
  background: rgba(205, 92, 92, 0.6);
}

.c-form {
  display: block;
  width: 100%;
}

.c-form__group {
  border: none;
}

.c-form__title {
  text-align: center;
  padding: 1em 0;
}

.c-form__content {
  padding: .5em 0 1em;
}

.c-form__input {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
}

.c-form__input--group {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px;
}

.c-form__input--full {
  width: 100%;
}

.c-form__input--group:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.c-form__input--group:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0;
}

.c-form__input:focus {
  outline: 0;
  border-color: #129FEA;
  z-index: 3;
}

/*font*/
.font--small {
  font-size: .75em;
}

.font--large {
  font-size: 2em;
}

.font--secondary {
  color: #D3D3D3;
}

/*c-list*/
.c-list {
  border-top: 1px solid #dcd7d7;
  border-bottom: 1px solid #dcd7d7;
  margin: 1.5em 0;
  padding: 0 .5em;
}

.c-list__content {
  border-bottom: 1px solid #dcd7d7;
  padding: .5em 0;
}
.c-list__item:last-child .c-list__content {
  border: none;
}

.c-list__icon {
  width: 2em;
  padding: .5em;
}