body {
  font-size: 16px;
  line-height: 1.2;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.content {
  width: 100%;
}

.response-img {
  max-width: 100%;
}

.floatL {
  float: left;
}

.floatR {
  float: right;
}

.icon {
  margin-top: .5em;
  padding-left: 2em;
  font-size: .875em;
}

.icon--info {
  background-image: url(/images/svg/info.svg);
  background-position: .5em;
  background-repeat: no-repeat;
  background-size: 1em;
}

input:focus, textarea:focus {
  outline: none;
}
