
















@import url(/components/plan/filed.css);

.filed__content--input[_v-62a91f24] {
  transition: width .5s ease-in-out;
}

.filed__input[_v-62a91f24] {
  height: 100%;
  border: none;
  background-color: rgba(98, 186, 206, 0.8);
  color: #ffffff;
  text-align: center;
  width: 100%;
  font-size: 1em;
}

.filed__clear[_v-62a91f24] {
  position: absolute;
  width: 1em;
  height: 1em;

  right: .5em;
  top: 0;
  bottom: 0;
  margin: auto;

  background-image: url(/images/svg/error.svg);
  background-size: 100%;
}
