















.filed[_v-62a91f24] {
  width: 100%;
}

.filed__name[_v-62a91f24] {
  display: inline-block;

  width: 20%;
  text-align: center;
  padding: 1em;

  background-color: rgba(0, 0, 0, 0.4);
}

.filed__content[_v-62a91f24] {
  display: inline-block;
  position: relative;

  min-width: 20%;
  max-width: 78%;
  width: 78%;
  text-align: center;
  height: 3em;
  vertical-align: top;

  transition: width .5s ease-in-out;
}

.filed__input[_v-62a91f24] {
  height: 100%;
  border: none;
  background-color: rgba(98, 186, 206, 0.8);
  color: #ffffff;
  text-align: center;
  width: 100%;
  font-size: 1em;
}

.filed__clear[_v-62a91f24] {
  position: absolute;
  width: 1em;
  height: 1em;

  right: .5em;
  top: 0;
  bottom: 0;
  margin: auto;

  background-image: url(/images/svg/error.svg);
  background-size: 100%;
}
