





















.filed__content[_v-0a367195] {
  width: 3em;
  height: 3em;
  min-width: 3em;
}

.color-panel[_v-0a367195] {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 101;
}

.color-panel__return[_v-0a367195] {
  background-image: url(/images/svg/return.svg);
  background-size: 100%;

  position: fixed;
  top: 1em;
  left: 1em;

  width: 3em;
  height: 3em;
}
