









































































@import url(/components/plan/filed.css);

.nav[_v-59315907] {
  margin: 1em;
}

.header[_v-59315907] {
  padding: 2em 0 0 1em;
}

.header__title[_v-59315907] {
  font-weight: 400;
  margin-bottom: .5em;

  font-size: 2em;
}

.edit-area[_v-59315907] {
  position: absolute;
  top: 0;

  width: 100vw;
  height: 100vh;
  padding: 6em 1em;

  background: rgba(95, 91, 91, 0.4);
}

.filed2[_v-59315907] {
  display: flex;
  width: 100%;

  margin-bottom: .5em;
}

.filed2__name[_v-59315907] {
  width: 10%;
  background: #1B1A1A;
  padding: .5em;
  align-self: baseline;
  max-width: 38.4px;
  min-width: 2em;
}

.filed2__content[_v-59315907] {
  width: 25%;
  text-align: center;
  background: #53BDBD;
  border: none;
  padding: .5em;
  color: #ffffff;
  font-size: 1rem;
  max-width: 7em;
}

.filed2__content--warn[_v-59315907] {
  background: #DB7093;
}

.filed2__content--success[_v-59315907] {
  background: #60BD74;
}

.filed2__content--flex[_v-59315907] {
  display: flex;
  flex-wrap: wrap;
  width: calc(30% + .5em);
}

.icon--padding[_v-59315907] {
  width: calc((100% - .75em) / 3);
  margin: 0 .25em .25em 0;
  padding: .5em;
  background: #53BDBD;

  max-width: 38.4px;
  min-width: 2em;
}
