











































@import url(/components/plan/filed.css);

.nav[_v-59315907] {
  margin: 1em;
}

.header[_v-59315907] {
  padding: 2em 0 0 1em;
}

.header__title[_v-59315907] {
  font-weight: 400;
  margin-bottom: .5em;

  font-size: 2em;
}

.edit-area[_v-59315907] {
  position: absolute;
  top: 0;

  width: 100vw;
  height: 100vh;
  padding: 6em 1em;

  background: rgba(95, 91, 91, 0.4);
}

.filed2[_v-59315907] {
  display: flex;
  width: 100%;
}

.filed2__name[_v-59315907] {
  width: 10%;
  background: rgba(84, 81, 81, 0.5);
  padding: .5em;
}

.filed2__content[_v-59315907] {
  background: rgba(97, 226, 226, 0.4);
  border: none;
  padding: .5em;
  color: #ffffff;
  font-size: 1rem;
}
