

























.nav[_v-59315907] {
  margin: 1em;
}

.header[_v-59315907] {
  padding: 2em 0 0 1em;
}

.header__title[_v-59315907] {
  font-weight: 400;
  margin-bottom: .5em;

  font-size: 2em;
}
