.schedule[_v-b55f7b2e] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.schedule__progress[_v-b55f7b2e] {
  position: absolute;
  top: 0;
  height: 2px;
  background: var(--schedule-progress-color);
}

.schedule__item[_v-b55f7b2e] {
  width: calc(100% / 7);
  padding: .5em 0;
  text-align: center;
  background: var(--color-more-opacity-primary);
  font-size: .875em;
  border-right: 1px solid;
}

.schedule__item[_v-b55f7b2e]:nth-of-type(7n) {
  border: none;
}

.schedule__item--unselected[_v-b55f7b2e] {
  background: var(--schedule-unselected-color);
}

.schedule__item--overdue[_v-b55f7b2e] {
  background: var(--schedule-overdue-color);
}

.schedule__item--done[_v-b55f7b2e] {
  background: var(--schedule-done-color);
}

.l-schedule[_v-b55f7b2e] {
  position: absolute;
  bottom: 8rem;
}