














.schedule[_v-efc5b060] {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  position: absolute;
  top: 10.5rem;
}

.schedule__item[_v-efc5b060] {
  width: calc(100% / 7);
  padding: .5em 0;
  text-align: center;
  background: rgba(98, 186, 206, 0.4);

  font-size: .875em;
  border-right: 1px solid;
}

.schedule__item[_v-efc5b060]:nth-of-type(7n) {
  border: none;
}

.schedule__item--unselected[_v-efc5b060] {
  background: rgba(69, 69, 69, 0.4);
}
