/* layout module */
.l-wrap {
  width: 100%;

  @media (min-width: 768px) {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

.l-wrap--padding {
  padding-left: 1em;
  padding-right: 1em;

  @media (min-width: 768px) {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

.l-full {
  width: 100%;
}

.l-absolute {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.l-box-shadow {
  border-bottom: 1px solid #dcd7d7;
  box-shadow: 0 2px 10px #dcd7d7;
  margin-bottom: 1em;
}

.l-grid {
  --minWidth: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.l-grid--between {
  justify-content: space-between;
}

.l-grid__item {
  flex-grow: 1;
  flex-shrink: 1;
}

@for $i from 1 through 10 {
  .l-grid__item--#{$i} {
    width: 10% * $i;
  }
}

.l-grid__item--15 {
  width: 15%;
}

.l-grid__item--16 {
  width: 16%;
}

.l-grid__item--45 {
  width: 45%;
}

.l-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 1000;
}
