<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>努力！奋斗！</title>
    <link rel="stylesheet" type="text/css" href="/components/App.css" />
    <link rel="stylesheet" href="/style/a.css" />
</head>
<body>
  <div id="app">
    <h1>Hello</h1>
    <App></App>
  </div>
<script src="/js/mod.js"></script>
<script type="text/javascript" src="/node_modules/vue/dist/vue.common.js"></script>
<script type="text/javascript" src="/components/App.js"></script>
<script type="text/javascript" src="/js/module/a.js"></script>
<script src="/js/App.js"></script>
</body>
</html>