<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>努力！奋斗！</title>
    <link rel="stylesheet" type="text/css" href="/components/home/kHeader.css" />
    <link rel="stylesheet" type="text/css" href="/components/home/planThumbnail.css" />
    <link rel="stylesheet" type="text/css" href="/components/home/home.css" />
    <link rel="stylesheet" type="text/css" href="/components/plan/filedInputText.css" />
    <link rel="stylesheet" type="text/css" href="/components/plan/planAdd.css" />
    <link rel="stylesheet" href="/style/common.css" />
</head>
<body>
  <div id="app">
  </div>
<script src="/js/mod.js"></script>
<script type="text/javascript" src="/node_modules/vue/dist/vue.common.js"></script>
<script type="text/javascript" src="/node_modules/vue-router/dist/vue-router.common.js"></script>
<script type="text/javascript" src="/node_modules/vue-resource/dist/vue-resource.common.js"></script>
<script type="text/javascript" src="/components/App.js"></script>
<script type="text/javascript" src="/components/home/kHeader.js"></script>
<script type="text/javascript" src="/components/home/planThumbnail.js"></script>
<script type="text/javascript" src="/components/home/home.js"></script>
<script type="text/javascript" src="/components/plan/filedInputText.js"></script>
<script type="text/javascript" src="/components/plan/planAdd.js"></script>
<script src="/js/main.js"></script>
</body>
</html>