.c-icon {
  padding-left: 2em;
  font-size: .875em;
  color: var(--color-white);
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: .5em 0;
}

.c-icon--large {
  font-size: 1.25em;
  background-position: .5em .125em;
}

.c-icon--menu {
  background-image: url(~images/svg/menu.svg);
}

.c-icon--info {
  background-image: url(~images/svg/info.svg);
}

.c-icon--return {
  background-image: url(~images/svg/return.svg);
}
