body {
  font-size: 16px;
  line-height: 1.2;

  color: #ffffff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 400;
}

.content {
  width: 100%;
}

.response-img {
  max-width: 100%;
}
.full-width-img {
  width: 100%;
  max-width: 3em;
}

.full-screen-img {
  width: 100vw;
  height: 100vh;
  z-index: -100;
  position: fixed;
  top: 0;
}

.floatL {
  float: left;
}

.floatR {
  float: right;
}

.icon {
  margin-top: .5em;
  padding-left: 2em;
  font-size: .875em;
  color: #ffffff;
}

.icon--large {
  font-size: 1.25em;
}

.icon--info {
  background-image: url(/images/svg/info.svg);
  background-position: .5em;
  background-repeat: no-repeat;
  background-size: 1em;
}

.icon--menu {
  background-image: url(/images/svg/menu.svg);
  background-position: .5em;
  background-repeat: no-repeat;
  background-size: 1em;
}

input:focus, textarea:focus {
  outline: none;
}

.button {
  background: rgba(97, 226, 226, 0.4);
  border: none;
  padding: .5em;
  color: #ffffff;
  font-size: 1rem;
}

.button--warn {
  background: rgba(205, 92, 92, 0.6);
}
