.c-button-group {
  padding: 0 1em;
}

.c-button {
  background: var(--button-primary-fill);
  border: none;
  padding: .5em;
  color: var(--color-white);
  font-size: 1rem;
  text-align: center;
}

.c-button--success {
  background: var(--button-success-fill);
}

.c-button--small {
  font-size: .625em;
}

.l-button--full {
  display: inline-block;
  width: 100%;
}

.l-button--full-align {
  padding: 0 .75em;
}
