.field {
  width: 100%;
  padding-bottom: .5em;
}

.field__name {
  display: inline-block;

  width: 20%;
  text-align: center;
  padding: 1em;

  background-color: rgba(0, 0, 0, .4);
}

.field__content {
  display: inline-block;
  text-align: center;
  height: 3em;
  vertical-align: top;
}

.field__content--input {
  position: relative;
  min-width: 20%;
  max-width: 78%;
  width: 78%;
  transition: width .5s ease-in-out;
}

.field__input {
  height: 100%;
  border: none;
  background-color: var(--color-opcity-primary);
  color: var(--color-white);
  text-align: center;
  width: 100%;
  font-size: 1em;
}

.field__clear {
  position: absolute;
  width: 1em;
  height: 1em;

  right: .5em;
  top: 0;
  bottom: 0;
  margin: auto;

  background-image: url(../../images/svg/error.svg);
  background-size: 100%;
}
