.c-plan {
  display: flex;
  align-items: center;

  position: relative;

  color: var(--color-white);
}

.c-plan__content {
  width: 80%;
  padding: .5em;
  text-align: left;
}

.c-plan__content__name,
.c-plan__content__next {
  padding: .5em;
}

.c-plan__badge {
  width: 20%;
  padding: .5em;
}

.c-plan__progress {
  position: absolute;
  top: 1px;

  height: 2px;
}
