



























.main[_v-f6839639] {
  background: url(/images/planAdd_bg.jpg);
  height: 100vh;
}

.header[_v-f6839639] {
  overflow: hidden;
}

.header__side[_v-f6839639] {
  width: 15%;
  padding: 1em;
}

.content[_v-f6839639] {
  padding: 0 1em;
}
