.c-loader[_v-a1b48074] {
  position: fixed;
  width: 100%;
  top: 10em;
  z-index: 101;
  text-align: center;
  color: var(--color-white);
}

.c-loader__content[_v-a1b48074] {
  display: inline-block;
  padding: .5em 0;
}

.dimmer[_v-a1b48074] {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-opcity-black);
}

.l-loader[_v-a1b48074] {
  position: fixed;
  top: 10em;
  z-index: 101;
}

.l-dimmer[_v-a1b48074] {
  z-index: 100;
}

/* c-list */
.c-list[_v-a1b48074] {
  border-top: 1px solid #dcd7d7;
  border-bottom: 1px solid #dcd7d7;
  margin: 1.5em 0;
  padding: 0 .5em;
}

.c-list__content[_v-a1b48074] {
  border-bottom: 1px solid #dcd7d7;
  padding: .5em 0;
}

.c-list__item:last-child .c-list__content[_v-a1b48074] {
  border: none;
}

.c-list__icon[_v-a1b48074] {
  width: 2em;
  padding: .5em;
}

.l-header__side[_v-a1b48074] {
  padding: .5em;
}

.content[_v-a1b48074] {
  color: var(--color-black);
}

.c-info[_v-a1b48074] {
  text-align: center;
}

.c-info__avatar[_v-a1b48074] {
  width: 30%;
  border-radius: 50%;
}