










.slide[_v-2ea9ab8b] {
  margin-top: 2em;
}

.btn-group[_v-2ea9ab8b] {
  padding: 0 1em;
  margin-top: 4em;
}

.button--login[_v-2ea9ab8b] {
  margin-top: 1em;
  background: #EAECEB;
  color: #000000;
}
