.c-button-group[_v-2ea9ab8b] {
  padding: 0 1em;
}

.c-button[_v-2ea9ab8b] {
  background: var(--button-primary-fill);
  border: none;
  padding: .5em;
  color: var(--color-white);
  font-size: 1rem;
  text-align: center;
}

.c-button--success[_v-2ea9ab8b] {
  background: var(--button-success-fill);
}

.c-button--small[_v-2ea9ab8b] {
  font-size: .625em;
}

.l-button--full[_v-2ea9ab8b] {
  display: inline-block;
  width: 100%;
}

.l-button--full-align[_v-2ea9ab8b] {
  padding: 0 .75em;
}

.l-slide[_v-2ea9ab8b] {
  margin: 2em 0;
}

.button--login[_v-2ea9ab8b] {
  margin-top: 1em;
  background: #eaeceb;
  color: var(--color-black);
}