<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>努力！奋斗！</title>

  <link rel="manifest" href="/manifest.json">
  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#2196f3">
  <meta name="apple-mobile-web-app-title" content="Up!Up!">
  <link rel="apple-touch-icon" href="/images/icons/icon-152x152.png">

  <!-- 由firstScreen.scss转换而来 -->
  <style type="text/css">
    @import '../modules/style/firstScreen';

    .l-hidden {
      display: none;
    }
  </style>
</head>
<body>
  <div id="appTemp">
    <main class="l-wrap l-absolute">
      <section class="l-slide" _v-tempKeep>
        <div class="stage">
          <img class="response-img stage__item" src="../images/all-devices_medium@1x.png"
               alt="多端适用"
               srcset="../images/all-devices_medium@1x.png 720w, ../images/all-devices_medium@2x.png 1440w, ../images/all-devices_xlarge@2x.png 2048w"
               sizes="100vw">
          <!--<img src="" alt="多端适用" class="response-img stage__item">-->
        </div>
        <p class="description--temp">随时随地使用...</p>
        <div class="bar"></div>
      </section>
      <section class="c-button-group">
        <a href="" class="c-button l-button--full">创建账户</a>
        <a href="" class="c-button l-button--full button--login" _v-tempKeep style="margin-top: 1em; background: #eaeceb; color: #000;">登录</a></section>
    </main>
  </div>

  <div id="app"></div>

  <script>
    /**
     * 内联mod.js
     */

    /**
     * file: mod.js
     * ver: 1.0.11
     * update: 2015/05/14
     *
     * https://github.com/fex-team/mod
     */
    var require, define;

    (function(global) {
      if (require) return; // 避免重复加载而导致已定义模块丢失

      var head = document.getElementsByTagName('head')[0],
      loadingMap = {},
      factoryMap = {},
      modulesMap = {},
      scriptsMap = {},
      resMap = {},
      pkgMap = {};

      function createScript(url, onerror) {
        if (url in scriptsMap) return;
        scriptsMap[url] = true;

        var script = document.createElement('script');
        if (onerror) {
          var tid = setTimeout(onerror, require.timeout);

          script.onerror = function() {
            clearTimeout(tid);
            onerror();
          };

          function onload() {
            clearTimeout(tid);
          }

          if ('onload' in script) {
            script.onload = onload;
          } else {
            script.onreadystatechange = function() {
              if (this.readyState === 'loaded' || this.readyState === 'complete') {
                onload();
              }
            }
          }
        }
        script.type = 'text/javascript';
        script.src = url;
        head.appendChild(script);
        return script;
      }

      function loadScript(id, callback, onerror) {
        var queue = loadingMap[id] || (loadingMap[id] = []);
        queue.push(callback);

        //
        // resource map query
        //
        var res = resMap[id] || resMap[id + '.js'] || {};
        var pkg = res.pkg;
        var url;

        if (pkg) {
          url = pkgMap[pkg].url;
        } else {
          url = res.url || id;
        }

        createScript(url, onerror && function() {
          onerror(id);
        });
      }

      define = function(id, factory) {
        id = id.replace(/\.js$/i, '');
        factoryMap[id] = factory;

        var queue = loadingMap[id];
        if (queue) {
          for (var i = 0, n = queue.length; i < n; i++) {
            queue[i]();
          }
          delete loadingMap[id];
        }
      };

      require = function(id) {

        // compatible with require([dep, dep2...]) syntax.
        if (id && id.splice) {
          return require.async.apply(this, arguments);
        }

        id = require.alias(id);

        var mod = modulesMap[id];
        if (mod) {
          return mod.exports;
        }

        //
        // init module
        //
        var factory = factoryMap[id];
        if (!factory) {
          throw '[ModJS] Cannot find module `' + id + '`';
        }

        mod = modulesMap[id] = {
          exports: {}
        };

        //
        // factory: function OR value
        //
        var ret = (typeof factory === 'function') ? factory.apply(mod, [require, mod.exports, mod]) : factory;

        if (ret) {
          mod.exports = ret;
        }
        return mod.exports;
      };

      require.async = function(names, onload, onerror) {
        if (typeof names === 'string') {
          names = [names];
        }

        var needMap = {};
        var needNum = 0;

        function findNeed(depArr) {
          for (var i = 0, n = depArr.length; i < n; i++) {
            //
            // skip loading or loaded
            //
            var dep = require.alias(depArr[i]);
            var child;

            if (dep in factoryMap) {
              // check whether loaded resource's deps is loaded or not
              child = resMap[dep] || resMap[dep + '.js'];
              if (child && 'deps' in child) {
                findNeed(child.deps);
              }
              continue;
            }

            if (dep in needMap) {
              continue;
            }

            needMap[dep] = true;
            needNum++;
            loadScript(dep, updateNeed, onerror);

            child = resMap[dep] || resMap[dep + '.js'];
            if (child && 'deps' in child) {
              findNeed(child.deps);
            }
          }
        }

        function updateNeed() {
          if (0 === needNum--) {
            var args = [];
            for (var i = 0, n = names.length; i < n; i++) {
              args[i] = require(names[i]);
            }

            onload && onload.apply(global, args);
          }
        }

        findNeed(names);
        updateNeed();
      };

      require.resourceMap = function(obj) {
        var k, col;

        // merge `res` & `pkg` fields
        col = obj.res;
        for (k in col) {
          if (col.hasOwnProperty(k)) {
            resMap[k] = col[k];
          }
        }

        col = obj.pkg;
        for (k in col) {
          if (col.hasOwnProperty(k)) {
            pkgMap[k] = col[k];
          }
        }
      };

      require.loadJs = function(url) {
        createScript(url);
      };

      require.loadCss = function(cfg) {
        if (cfg.content) {
          var sty = document.createElement('style');
          sty.type = 'text/css';

          if (sty.styleSheet) { // IE
            sty.styleSheet.cssText = cfg.content;
          } else {
            sty.innerHTML = cfg.content;
          }
          head.appendChild(sty);
        } else if (cfg.url) {
          var link = document.createElement('link');
          link.href = cfg.url;
          link.rel = 'stylesheet';
          link.type = 'text/css';
          head.appendChild(link);
        }
      };


      require.alias = function(id) {
        return id.replace(/\.js$/i, '');
      };

      require.timeout = 5000;

    })(window);

  </script>

  <!--RESOURCEMAP_PLACEHOLDER-->
  <script>
    /**
     * 延迟加载非关键的外部样式表
     * 用了fis3的资源依赖表，代码稍稍被侵入
     * 没有使用prefetch，有问题
     */
    var kPrefetch = function () {
      const resources = __RESOURCE_MAP__

      let styleLink = document.createElement('link')

      styleLink.rel = 'stylesheet'
      styleLink.href = resources.res['modules/style/common.scss'].uri

      document.head.appendChild(styleLink)

      // prefetch背景图片：<prefetch>标签会在未满6个请求时也会发送，抢占关键资源的请求带宽
      let bgImg = document.createElement('img')
      bgImg.src = resources.res['images/bg_medium@1x.jpg'].uri
    }

    require.async('main.js', function(result) {
      result.main()
    }, function (id) {
      console.error(`fail to load ${id} when load main.js`)
    })

    kPrefetch()
  </script>
  <!--<link rel="prefetch" as="image" href="../images/bg_medium@1x.jpg">
  <link rel="prefetch" as="style" href="../modules/style/common.scss">-->
</body>
</html>