<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>努力！奋斗！</title>

  <link rel="manifest" href="/manifest.json">
  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#2196f3">
  <meta name="apple-mobile-web-app-title" content="Up!Up!">
  <link rel="apple-touch-icon" href="/images/icons/icon-152x152.png">
  <!-- 由firstScreen.scss转换而来 -->
  <style type="text/css">
    @import '../modules/style/firstScreen';
  </style>

  <!-- 预加载欢迎页图片和app主背景图片 -->
  <!--<link rel="preload" href="/images/all-devices@2x.png" as="image" type="image/png">-->
  <!--<link rel="preload" href="/images/bg@1x.jpg" as="image" type="image/jpeg">-->
</head>
<body>
  <div id="appTemp">
    <main class="l-wrap l-absolute">
      <section class="l-slide" _v-tempKeep>
        <div class="stage">
          <img src="" alt="随时随地使用" class="response-img stage__item">
        </div>
        <p class="description--temp">随时随地使用...</p>
        <div class="bar"></div>
      </section>
      <section class="c-button-group">
        <a href="" class="c-button l-button--full">创建账户</a>
        <a href="" class="c-button l-button--full button--login" _v-tempKeep style="margin-top: 1em; background: #eaeceb; color: #000;">登录</a></section>
    </main>
  </div>

  <div id="app"></div>

  <script>
    const resources = __RESOURCE_MAP__
    // 延迟加载非关键的外部样式表，用了fis3的资源依赖表，代码稍稍被侵入
    let styleLink = document.createElement('link')

    styleLink.rel = 'stylesheet'
    styleLink.href = resources.res['modules/style/common.scss'].uri

    document.head.appendChild(styleLink)

    // 延迟加载欢迎页图片：相比于等mainJs执行后加载或者preload加载，是种折中的做法
    let welcomeImg = document.querySelector('.l-slide[_v-tempKeep] img')
    welcomeImg.src = resources.res['images/all-devices.png'].uri
  </script>
  <script src="./libs/mod.js"></script>
  <script src="./main.js"></script>
</body>
</html>