/* slide-left */
.slide-left-enter-active,
.slide-left-leave-active {
  transition: all .5s ease;
}

.slide-left-enter {
  opacity: 0;
  //transform: translateX(100%);
  left: 100% !important;
}

.slide-left-leave-to {
  opacity: 0;
  //transform: translateX(-100%);
  left: -100% !important;
}

/* slide-right */
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all .5s ease;
}

.slide-right-enter {
  opacity: 0;
  //transform: translateX(-100%);
  left: -100%;
}

.slide-right-leave-to {
  opacity: 0;
  //transform: translateX(100%);
  left: 100%;
}

/* slide-up */
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all .5s ease;
}

.slide-up-enter {
  opacity: 0;
  //transform: translateY(100vh);
  top: 100vh;
}

.slide-up-leave-to {
  opacity: 0;
  //transform: translateY(-100vh);
  top: -100vh;
}

/* slide-el */
.slide-enter-active,
.slide-leave-active {
  transition: all .5s ease;
}

.slide-enter,
.slide-leave-to {
  opacity: 0;
  //transform: translateX(100%);
  left: 100% !important;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInLeft {
  animation-name: bounceInLeft;
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInRight {
  animation-name: bounceInRight;
}

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.bounceOutLeft {
  animation-name: bounceOutLeft;
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.bounceOutRight {
  animation-name: bounceOutRight;
}

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}
